@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;


body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}

img .logos{
    width: 50%;
}


.marker_card {
    color: $dark;
    background-color: #edf3f5;
    padding: 30px;
    border-radius: 50px;
}

.img_slider {
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
}

.img_slider:hover {
    transform: scale(1.1);
}


.marker_card .col-12 {
    margin-top: 40px;
}

.row_images {
    background-color: #aad2e0;
    border-radius: 30px;
    padding: 10px;
}