@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;


body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

img{
    width: 100%;
}

.marker_card {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}