@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;


body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

img{
    width: 100%;
}


.marker_card {
    color: $dark;
    background-color:#edf3f5;
    padding: 10px;
    border-radius: 50px;
    height: 600px;
}

.marker_card .col-12{
    margin-top: 40px;
}